name: Monroe

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
          
    #setup a specific python version
    steps:
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Display Python version
      run: python --version

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with: 
           repository: StaPH-B/staphb_toolkit
           path: monroe
    - name: pip install staphb
      run: pip install staphb_toolkit
    - name: pip install pexpect
      run: pip install pexpect
    - name: test staph-b      
      run: staphb-tk --help
      
    #Work in progress to try out the monroe pipeline with test data
    - name: test Monroe pipeline cluster analysis
      run: staphb-wf monroe cluster_analysis pangolin_test 
